@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import "quotes.css";
@import "login-form.css";
@import "buttons.css";
@import "clock.css";
@import "todo-form.css";
@import "weather.css";

body {
    margin: 0px 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    font-family: 'Poppins';
}

.hidden {
    display: none;
}